header{
  grid-area: welcome;
  background-color: #FF7F7F;
  color: #D7D7D7;
  font-size: 25px;
  padding: 20px;
  border-radius: 25px;
  border-style: dashed;
  border-color: #FFFFFF;
}

body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "welcome welcome"
    "geography map"
    "swisspeak climate"
    "military industries"
    "footer footer";
  font-family: "Abel";
  line-height: 1;
  background-color: #D7D7D7;
}

h1,
h2,
h3{
  font-family: "Hind";
}

a:hover{
  color: #FFFFFF;
  background-color: #5B5B5B
}

a:visited{
  text-decoration: none;
  color: #B042FF;
  text-align: center;
  display: inline-block;
  width: 5.5em;
}

a:link{
  text-decoration: underline;
  text-color: #1338BE
}

a:active{
  background-color: #85C285;
  color: #FFFFFF;
}

p{
  font-family: "Hind";
}

footer{
  grid-area: footer;
  text-align: center;
  background-color: #F7F7F7;
  color: #FF7F7F;
  border-radius: 25px;
}

#geography{
  grid-area: geography;
  background-color: #FF7F7F;
  padding: 15px;
  border-radius: 25px;
  border-style: dashed;
  border-color: #FFFFFF;
}

#map{
  grid-area: map;
}

#swisspeak{
  grid-area: swisspeak;
}

#climate{
  grid-area: climate;
  background-color: #FF7F7F;
  padding: 15px;
  border-radius: 25px;
  border-style: dashed;
  border-color: #FFFFFF;
}

#military{
  grid-area: military;
  background-color: #FF7F7F;
  padding: 15px;
  border-radius: 25px;
  border-style: dashed;
  border-color: #FFFFFF;
}

#industries{
  justify-content: center;
  grid-area: industries;
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 25px;
  border-style: dashed;
  border-color: #FF7F7F;
}
